Flow3.json
[
    {
        "id": "53d87ff6.2fd8b",
        "type": "tab",
        "label": "流程2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dd1810b.7a546f",
        "type": "inject",
        "z": "53d87ff6.2fd8b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "418d765b.d76898"
            ]
        ]
    },
    {
        "id": "418d765b.d76898",
        "type": "function",
        "z": "53d87ff6.2fd8b",
        "name": "",
        "func": "msg.headers={\n    deviceKey:\"8yggDoxlQCXzfrRn\"\n    };\nmsg.payload=\"Temperature,,25.3\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "a8b08612.97cf08"
            ]
        ]
    },
    {
        "id": "a8b08612.97cf08",
        "type": "http request",
        "z": "53d87ff6.2fd8b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api.mediatek.com/mcs/v2/devices/DYB8cZoi/datapoints.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "c8abb5d3.722a98",
                "e41e11dc.1a4c2"
            ]
        ]
    },
    {
        "id": "e41e11dc.1a4c2",
        "type": "http response",
        "z": "53d87ff6.2fd8b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "c8abb5d3.722a98",
        "type": "debug",
        "z": "53d87ff6.2fd8b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 320,
        "wires": []
    }
]
